
.card {
  width: 18rem; /* w-72 */
  height: auto; /* h-40 */
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem; /* gap-2 */
  background-color: #d8d8ef51; /* indigo-500 */
  border-radius: 0.5rem; /* rounded-lg */
  box-shadow: 0 4px 6px rgba(0,0,0,0.1); /* shadow */
  padding: 0.5rem; /* p-2 */
}
.card-header {
  display: flex;
  gap: 0.5rem;
}

.card-img {
  background-color: #ffd5d5; /* purple-200 */
  width: 6rem;  /* w-24 */
  height: 6rem; /* h-24 */
  flex-shrink: 0;
  border-radius: 0.5rem;
}

.card-text {
  display: flex;
  flex-direction: column;
  color: rgb(0, 0, 0);
}

.card-title {
  font-weight: bold;
}

.card-desc {
  display: -webkit-box;
  -webkit-line-clamp: 3; 
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.card-btn {
  background-color: #fafafa; /* neutral-50 */
  color: #0290fd; /* indigo-500 */
  font-weight: bold;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem;
  cursor: pointer;
}

.card-btn:hover {
  background-color: #355b2aad; /* purple-300 */
}
