
.exo-2-regular {
  font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

body{
  background-image: url('/src/images/Powered by Google3.gif'); 
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed; 
  background-color: #f0f0f0;
  overflow-x: hidden;
  font-family: "Exo 2";
  font-size: 15px;
  
}